- var title= 'Gistbot Home'
- var description = 'Welcome to Gistbot, a productivity app to quickly get the main ideas behind an article or topic'
- var templateName = 'home'

include templates/head.jade
  body
    #header.header
      .container
        h2.intro
          | Paste a link or type anything&nbsp;
          span.nw to get the gist
        input#get.input(type='text', name='Gistbot', placeholder='i.e. Nikola Tesla or http://www.wired.com/2015/02/fcc-chairman-wheeler-net-neutrality/')
      include templates/logo.jade
    .container
      .row
        #gist.gists
    include templates/footer.jade
