doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Gistbot
    meta(name='description', content='Get a summary of a topic or article in a jiffy with Gistbot')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='icon', type='image/png', href='img/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='img/favicon-16x16.png', sizes='16x16')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    if(locals.env !== "prod")
      script(src='//localhost:35729/livereload.js')
    script(type='text/javascript', src='js/vendor/jquery-2.1.3.min.js')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
      script.
        window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\\/script>')
  body
    .brand-border
    #brandBar.brand
      .brand-container
        a(href='/').logo-container
          h1#logo-light.logo-light Gistbot
            .alpha
              h6.version.version-dark-bg ALPHA
          h1#logo-dark.logo-dark.left Gistbot
            .alpha
              h6.version.version-light-bg ALPHA
    #header.header
      h2.intro-text Privacy Policy
    .container
      .row.privacy
        p.
          This Privacy Policy governs the manner in which Gistbot collects, uses, maintains and discloses information collected from users (each, a "User") of the gistbot.com website ("Site"). This privacy policy applies to the Site and all products and services offered by Gistbot.
        h5 Personal identification information
        p.
          We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, fill out a form, and in connection with other activities, services, features or resources we make available on our Site.. Users may visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
        h5 Non-personal identification information
        p.
          We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
        h5 Web browser cookies
        p.
          Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
        h5 How we use collected information
        p.
          Gistbot may collect and use Users personal information for the following purposes:
        ul
          li
            To improve customer service. Information you provide helps us respond to your customer service requests and support needs more efficiently.
          li
            To personalize user experience. We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
          li
            To improve our Site. We may use feedback you provide to improve our products and services.
        h5 How we protect your information
        p.We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
        p.Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.
        h5 Sharing your personal information
        p.
          We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
        h5 Third party websites
        p.
          Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.
        h5 Changes to this privacy policy
        p.
          Gistbot has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
        h5 Your acceptance of these terms
        p.
            By using this Site, you signify your acceptance of this policy and terms of service. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
        h5 Contacting us
        p.
            If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at help@gistbot.com.
        p.
            This document was last updated on February 25, 2015

    #footer.footer
      .text-center
        p.footer-text
          | Gistbot © 2015.
          a.footer-link(href='../../privacy-policy')
            | Privacy
            | Policy.
          br.xs
          a#email.footer-link(href='javascript:void(0)', onclick='revealEmail()') Contact or Leave a Suggestion.
      button#close.close(aria-hidden='true') &times;
    script(type='text/javascript', src='js/main.js')
