.body {
  font-family: Calibri, sans-serif !important;
  letter-spacing: -0.02em;
}
.logo-dark, .logo-light {
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}
.version {
  font-weight: 600;
}
.gistInput {
  height: 42px !important;
  line-height: 1.2;
}
.close {
  line-height: 1 !important;
}
.header {
  width: 100% !important;
}
.footer {
  padding: 6px 0 0 !important;
}
.footer-text {
  line-height: 1.4 !important;
}
