/* line 1, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
* {
  box-sizing: border-box; }

/* line 5, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 13, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
* {
  margin: 0;
  padding: 0; }

/* line 18, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
a {
  text-decoration: none;
  background-color: transparent; }

/* line 23, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
body {
  padding: 0 0 36px; }

/* line 27, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
p {
  line-height: 1.6; }

/* line 32, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 37, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 41, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
dfn {
  font-style: italic; }

/* line 45, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 50, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
small {
  font-size: 80%; }

/* line 55, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 62, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
sup {
  top: -0.5em; }

/* line 66, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 70, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
img {
  border: 0; }

/* line 74, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 78, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
figure {
  margin: 15px 30px; }

/* line 82, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
hr {
  height: 0; }

/* line 86, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
pre {
  overflow: auto; }

/* line 93, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 102, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/* line 108, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
button {
  overflow: visible; }

/* line 113, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
button, select {
  text-transform: none; }

/* line 120, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 126, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 131, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 136, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
input {
  line-height: normal; }

/* line 141, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* 2 */ }

/* line 146, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 150, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield; }

/* line 155, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 159, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 164, /Users/Caleb/dev/gistbot/views/styles/partials/_normalize.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 1, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
.header {
  width: 100%;
  background-color: #62B994;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: background-color 250ms ease-out; }
  @media screen and (max-width: 759px) {
    .header {
      padding-top: 16px;
      padding-bottom: 56px; } }
  @media screen and (min-width: 760px) {
    .header {
      padding-top: 40px;
      padding-bottom: 64px; } }

/* line 20, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
.absolute {
  position: absolute;
  top: 0;
  left: 0; }

/* line 26, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
.fixed {
  position: fixed;
  left: 0;
  right: 0; }

/* line 32, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
.input-container {
  position: relative;
  margin-top: 16px; }
  /* line 36, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
  .input-container .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    font-weight: 300;
    padding-left: 24px;
    padding-right: 64px;
    width: 100%;
    min-width: 200px;
    height: 64px;
    background-color: #4ba880;
    border-radius: 4px;
    color: #fff;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 250ms ease-out, color 250ms ease-out, box-shadow 250ms ease-out;
    overflow: hidden !important; }
    @media only screen and (max-width: 760px) {
      .input-container .input {
        font-size: 16px; } }
    @media only screen and (min-width: 761px) and (max-width: 1399px) {
      .input-container .input {
        font-size: 18px; } }
    @media only screen and (min-width: 1400px) {
      .input-container .input {
        font-size: 20px; } }
    /* line 65, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
    .input-container .input:focus {
      background-color: #fff;
      color: #62B994;
      outline: none;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 8px 14px -2px rgba(0, 0, 0, 0.16);
      transition: background-color 250ms ease-in, color 250ms ease-in, box-shadow 250ms ease-in; }
      /* line 73, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
      .input-container .input:focus + svg .filter-fill {
        fill: #62B994;
        transition: all 250ms ease-in; }
    /* line 80, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
    .input-container .input + svg {
      position: absolute;
      right: 24px;
      height: 24px;
      width: 24px;
      top: 50%;
      transform: translateY(-50%) translateZ(0); }
      /* line 88, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
      .input-container .input + svg .filter-fill {
        fill: #fff;
        transition: fill 250ms ease-out; }

/* line 96, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
.filter {
  cursor: help; }
  /* line 100, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
  .filter:hover + .hint {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 250ms ease-out; }

/* line 108, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
.hint {
  font-size: 80%;
  width: 480px;
  max-width: calc(100% - 72px);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: center;
  right: 64px;
  top: 50%;
  transform: translateY(-50%) translateZ(0);
  background: #111;
  padding: 8px 12px;
  box-shadow: 0 8px 12px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #fff;
  transition: visibility 0s linear 250ms, opacity 250ms ease-in; }
  /* line 126, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
  .hint:after {
    content: "";
    right: -8px;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #111111;
    transform: translateY(-50%) rotate(360deg) translateZ(0); }

/* line 140, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

/* line 144, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
input:focus::-webkit-input-placeholder {
  color: rgba(98, 185, 148, 0.5); }

/* Firefox < 19 */
/* line 148, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5); }

/* line 152, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
input:focus:-moz-placeholder {
  color: rgba(98, 185, 148, 0.5); }

/* Firefox > 19 */
/* line 156, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5); }

/* line 160, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
input:focus::-moz-placeholder {
  color: rgba(98, 185, 148, 0.5); }

/* Internet Explorer 10 */
/* line 164, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

/* line 168, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
input:focus:-ms-input-placeholder {
  color: rgba(98, 185, 148, 0.5); }

/* line 172, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
.logo {
  position: absolute;
  line-height: 0;
  bottom: 0;
  left: 0; }

/* line 179, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
.svg-logo {
  height: 36px;
  width: 36px; }
  /* line 183, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
  .svg-logo path {
    fill: #fff;
    transition: fill 250ms ease-out; }
  /* line 189, /Users/Caleb/dev/gistbot/views/styles/partials/_header.scss */
  .svg-logo:hover path {
    fill: #4ba880;
    transition: fill 250ms ease-in; }

/* line 1, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.loading-container {
  width: 100%;
  text-align: center;
  display: block; }
  /* line 6, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  .loading-container .loading {
    display: inline-block;
    margin: 88px auto 0;
    text-align: center; }
    /* line 11, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
    .loading-container .loading > div {
      width: 16px;
      height: 16px;
      margin: 4px;
      background-color: #62B994;
      border-radius: 100%;
      display: inline-block;
      animation: loading 1400ms infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    /* line 21, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
    .loading-container .loading .load-one {
      animation-delay: -200ms; }
    /* line 25, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
    .loading-container .loading .load-two {
      animation-delay: -100ms; }

@keyframes loading {
  /* line 33, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  0%, 100%, 80% {
    transform: scale(0) translateZ(0); }

  /* line 37, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  40% {
    transform: scale(1) translateZ(0); } }

/* line 42, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.not {
  display: none; }

/* line 46, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
ul {
  list-style: none;
  padding-left: 20px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/* line 56, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
li {
  padding-left: 24px;
  position: relative; }
  /* line 60, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  li:before {
    position: absolute;
    display: inline-block;
    top: 0;
    margin-left: -24px;
    vertical-align: top;
    content: "\2013"; }
  /* line 70, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  li.first:before {
    content: " "; }

/* line 76, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.row {
  margin-top: 40px;
  margin-bottom: 40px; }

/* line 81, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.gist-title {
  margin-top: 0;
  display: block;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px; }

/* line 89, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.gist-body {
  display: block;
  font-size: 18px;
  margin-bottom: 40px; }
  /* line 94, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  .gist-body li {
    margin-bottom: 24px; }

/* line 100, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.a-gist, .content {
  position: relative;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 0 8px 14px -2px rgba(0, 0, 0, 0.16); }
  @media screen and (min-width: 760px) {
    .a-gist, .content {
      padding: 32px 40px 24px; } }
  @media screen and (max-width: 759px) {
    .a-gist, .content {
      padding: 16px 24px 8px; } }
  /* line 114, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  .a-gist p, .content p {
    margin-bottom: 16px; }
  /* line 118, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  .a-gist h4, .content h4 {
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 16px; }

/* line 125, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.right {
  width: 100%;
  text-align: right; }

/* line 130, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.gist-link {
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  padding: 4px 8px 6px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #62B994;
  border: 1px solid #48a07b;
  box-shadow: 0 0 1px 1px rgba(20, 20, 60, 0.1);
  border-radius: 2px;
  font-weight: 500;
  transition: all 200ms ease-out; }
  /* line 144, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  .gist-link:hover {
    background-color: #6bcaa5;
    border: 1px solid #45bd8e;
    box-shadow: 0 1px 6px 1px rgba(20, 20, 60, 0.1);
    color: #FFFFFF;
    transition: all 100ms ease-in; }
  /* line 153, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
  .gist-link:active, .gist-link:focus {
    color: #f1f1f1;
    box-shadow: inset 0 1px 6px rgba(20, 20, 60, 0.1); }

/* line 159, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.gist {
  margin: 40px auto;
  padding: 10px 15px 20px;
  border: 5px solid #f1f1f1;
  border-radius: 2px;
  background-color: #FFFFFF; }

/* line 167, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.hidden-sm {
  display: none; }

/* line 171, /Users/Caleb/dev/gistbot/views/styles/partials/_gists.scss */
.xs {
  display: block; }

/* line 1, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin-top: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #f1f1f1;
  border-top: 1px solid #eee;
  text-align: center; }

/* line 15, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
.footer-text {
  color: #9A9898;
  text-align: center;
  font-size: 75%;
  word-spacing: -0.05em;
  padding-left: 32px;
  padding-right: 32px; }

/* line 24, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
.footer-link {
  color: #9A9898;
  text-decoration: none; }
  /* line 28, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
  .footer-link:hover {
    color: #62B994;
    text-shadow: none;
    text-decoration: none; }

/* line 35, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
.close-top {
  padding: 2px;
  color: #FFFFFF;
  font-size: 75%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transform: translateX(5px) translateY(-10px) translateZ(0); }
  /* line 44, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
  .close-top:hover {
    color: #62B994;
    text-shadow: 0 1px 5px rgba(20, 20, 60, 0.1);
    cursor: pointer;
    border: none;
    background-color: transparent; }
  /* line 53, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
  .close-top:active, .close-top:focus {
    color: #62B994;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent; }

/* line 62, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
.close {
  position: absolute;
  color: #9A9898;
  right: 6px;
  top: 2px;
  line-height: 1;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
  border: none;
  background-color: transparent; }
  /* line 74, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
  .close:hover {
    color: #62B994;
    cursor: pointer;
    border: none;
    background-color: transparent; }
  /* line 82, /Users/Caleb/dev/gistbot/views/styles/partials/_footer.scss */
  .close:active, .close:focus {
    color: #62B994;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent; }

/* line 9, /Users/Caleb/dev/gistbot/views/styles/main.scss */
body, h1, h2, h3, h4, h5, p, a, ul, ol, li, input {
  font-family: 'BlinkMacSystemFont', -apple-system, Helvetica Neue, Arial, sans-serif;
  line-height: 1.56; }

/* line 14, /Users/Caleb/dev/gistbot/views/styles/main.scss */
h2 {
  color: #FFFFFF;
  font-weight: 500;
  text-align: center; }
  @media screen and (max-width: 759px) {
    h2 {
      font-size: 22px; } }
  @media screen and (min-width: 760px) {
    h2 {
      font-size: 28px; } }

/* line 28, /Users/Caleb/dev/gistbot/views/styles/main.scss */
h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.2;
  text-shadow: 0 0 6px rgba(20, 20, 60, 0.1); }
  @media only screen and (max-width: 760px) {
    h3 {
      font-size: 18px; } }
  @media only screen and (min-width: 761px) and (max-width: 1399px) {
    h3 {
      font-size: 28px; } }
  @media only screen and (min-width: 1400px) {
    h3 {
      font-size: 32px; } }

/* line 52, /Users/Caleb/dev/gistbot/views/styles/main.scss */
h5 {
  font-size: 1.4em;
  color: #555555;
  font-weight: 500;
  line-height: 1.1; }

/* line 59, /Users/Caleb/dev/gistbot/views/styles/main.scss */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  width: 800px; }

@media only screen and (max-width: 760px) {
  .nw {
    white-space: nowrap; } }

/*# sourceMappingURL=main.css.map */