#footer.footer
  .text-center
    p.footer-text
      | &copy; Gistbot 2015 –
      script.
        document.write(new Date().getFullYear())
      |.&ensp;All Rights&nbsp;Reserved.
      unless templateName == 'privacyPolicy'
        a.footer-link(href='/privacy-policy')
          |&ensp;Privacy&nbsp;Policy.
      a#email.footer-link
        |&ensp;Contact or Leave a&nbsp;Suggestion.
  button#close.close(aria-hidden='true') &times;
  script(src='/js/v2.1.min.js')
