.brand-border
#brandBar.brand
  .brand-container
    .logo-container
      h1#logo-light.logo-light Gistbot
        span.version.version-dark-bg ALPHA
      h1#logo-dark.logo-dark.left Gistbot
        span.version.version-light-bg ALPHA
