.loading-container {
  width: 100%;
  text-align: center;
  display: block;

  .loading {
    display: inline-block;
    margin: 88px auto 0;
    text-align: center;

    > div {
      width: 16px;
      height: 16px;
      margin: 4px;
      background-color: $gistbot;
      border-radius: 100%;
      display: inline-block;
      animation: loading 1400ms infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .load-one {
      animation-delay: -200ms;
    }

    .load-two {
      animation-delay: -100ms;
    }
  }
}
@keyframes loading {
  0%,
  100%,
  80% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.0);
  }
}

.not {
  display: none;
}

ul {
  list-style: none;
  padding-left: 20px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

li {
  padding-left: 24px;
  position: relative;

  &:before {
    position: absolute;
    display: inline-block;
    top: 0;
    margin-left: -24px;
    vertical-align: top;
    content: "\2013";
  }

  &.first {
    &:before {
      content: " ";
    }
  }
}

.row {
  margin-top: 40px;
  margin-bottom: 40px;
}

.gist-title {
  margin-top: 0;
  display: block;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
}

.gist-body {
  display: block;
  font-size: 18px;
  margin-bottom: 40px;

  li {
    margin-bottom: 24px;
  }
}

.a-gist,
.content {
  position: relative;
  padding: 32px 40px 24px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 0 8px 14px -2px rgba(0,0,0,.16);

  p {
    margin-bottom: 16px;
  }

  h4 {
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.right {
  width: 100%;
  text-align: right;
}

.gist-link {
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  padding: 4px 8px 6px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: $gistbot;
  border: 1px solid darken($gistbot, 10%);
  box-shadow: 0 0 1px 1px rgba(20,20,60,0.1);
  border-radius: 2px;
  font-weight: 500;
  transition: all 200ms ease-out;

  &:hover {
    background-color: $secondary;
    border: 1px solid darken($secondary, 10%);
    box-shadow: 0 1px 6px 1px rgba(20,20,60,0.1);
    color: #FFFFFF;
    transition: all 100ms ease-in;
  }

  &:active,
  &:focus {
    color: $light-gray;
    box-shadow: inset 0 1px 6px rgba(20,20,60,0.1);
  }
}

.gist {
  margin: 40px auto;
  padding: 10px 15px 20px;
  border: 5px solid $light-gray;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.hidden-sm {
  display: none;
}

.xs {
  display: block;
}
