ul {
  list-style: none;
  padding-left: 20px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

li {
  padding-left: 20px;
  position: relative;

  &:before {
    position: absolute;
    display: inline-block;
    top: 0;
    margin-left: -20px;
    vertical-align: top;
    content: "\2013";
  }

  &.first {
    &:before {
      content: " ";
    }
  }
}

.summary {
  margin-bottom: 30px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.gist-title {
  margin-top: 0;
  display: block;
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: .4em;
}

.gist-body {
  display: block;
  font-size: 1.2em;
  margin-bottom: .8em;
}

.gist-link {
  display: table;
  text-align: center;
  text-decoration: none;
  right: 0;
  margin-top: .4em;
  margin-right: 0;
  margin-left: auto;
  color: #FFFFFF;
  max-width: calc(100% - 16px;
  font-size: .9em;
  background-color: $gistbot;
  box-shadow: 0 0 1px 1px rgba(20,20,60,0.1);
  padding: 4px 8px 6px;
  border-radius: 2px;
  font-weight: 500;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0px 1px 6px 1px rgba(20,20,60,0.1);
    color: #FFFFFF;
    transition: all 75ms ease-in-out;
  }

  &:active, &:focus {
    color: $light-gray;
    box-shadow: inset 0px 1px 6px rgba(20,20,60,0.1);
  }
}

.gist {
  margin: 40px auto;
  padding: 10px 15px 20px;
  border: 5px solid $light-gray;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.hidden-sm {
  display: none;
}

.xs {
  display: block;
}
