.header {
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $gistbot;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

@-moz-document url-prefix() {

  .header {
    background: transparent;

    &:before {
      content: '';
      top: -5%;
      left: -5%;
      overflow: hidden;
      position: absolute;
      background-image: url(/img/bg.jpg);
      z-index: -1;
      background-size: cover;
      z-index: 0;
      height: 110%;
      width: 110%;
      filter: blur(10px);
    }
  }
}


.form {
  text-align: center;
  margin: 15px auto 40px;
  padding: 0;
  border-radius: 2px;
}

.input {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  min-width: 200px;
  height: 80px;
  background-color: transparentize(lighten($gradient-one, 20%), .9);
  border-radius: 40px;
  color: #fff;
  border: 4px solid transparentize(lighten($gradient-one, 20%), .9);
  box-shadow:
    inset 0 0 0 4px transparentize($gray, .5),
    0 2px 10px transparentize(#222, .9);
  white-space: nowrap;
  overflow: hidden !important; // Scrolls if this isn't important
  text-overflow: ellipsis;
  transition: all 200ms ease-out;

  @include respond-to(handhelds) {
    font-size: 16px;
  }

  @include respond-to(medium-screens) {
    font-size: 18px;
  }

  @include respond-to(wide-screens) {
    font-size: 18px;
  }

  &:focus {
    outline: none;
    box-shadow:
      inset 0 0 0 4px $gistbot,
      0 4px 20px 8px transparentize(#222, .8);
    transition: all 200ms ease-in;
  }
}

.logo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  line-height: 0;
  cursor: none;
}

.svg-logo {
  height: 36px;
  width: 36px;
  path {
    fill: #fff;
    transition: fill 200ms ease-out;
  }

  &:hover {
    path {
      fill: $gistbot;
      transition: fill 100ms ease-in;
    }
  }
}
