// Variables
@import '_normalize.scss';
@import '_vars.scss';
@import '_header.scss';
@import '_gists.scss';
@import '_footer.scss';

html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
  font-family: $fonts;
}

a {
  text-decoration: none;
}

body {
  font-family: $fonts;
  padding: 0 0 36px;
}

p {
  margin: 0 auto 1em;
  line-height: 1.6;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: $gray;
  font-weight: 300;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $gray;
  font-weight: 300;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $gray;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: $gray;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  font-size: calc(5.65vw - 2px);
  color: #FFFFFF;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.01em;
  line-height: 1;
}

h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: .2em;
  margin-bottom: .4em;
  font-size: 1.2em;
  line-height: 1.2;
  text-shadow: 0 0 6px rgba(20,20,60,0.1);
}

h5 {
  font-size: 1.4em;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.1;
}
