// Variables
@import '_vars.scss';
@import '_normalize.scss';
@import '_header.scss';
@import '_gists.scss';
@import '_footer.scss';

h2 {
  font-size: 36px;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.01em;
  text-rendering: optimizeLegibility;
}

h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: .2em;
  margin-bottom: .4em;
  font-size: 1.2em;
  line-height: 1.2;
  text-shadow: 0 0 6px rgba(20,20,60,0.1);
}

h5 {
  font-size: 1.4em;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.1;
}

.container {
  @include container();
}
